body{
    background-image: url('../back2.png');
    background-size: cover; /* Ensures the image covers the entire div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
  background-attachment: fixed; 
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
#d1{
  width: 40%;
  height: 400px;
  border:groove 10px orange;
  border-radius: 100px 0px 100px 0px;
  text-align: center;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:3%;
  gap: 10px;
  animation: d1 2s ease-in-out  1 both;
}

h3{
  font-weight: bold;
  font-family: arial;

}
h1{
  font-family: arial;
}
span{
  color: rgb(148, 1, 1);
}
.reserver {
  
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: inline-block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
}

.reserver:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.reserver:active {
  transform: scale(0.95);
}
#bien{
  color: green;
  font-weight:bold;
}
@keyframes d1{
  0%{
   transform: translate(0px,200px);
  }
  100%{
     transform: translate(0px,0px);
  }
}
